{% extends 'base.html'%}
{% load static%}
	
    {% block contents%}
	
    <section class="ftco-section ftco-cart">
		{% if messages%}
		   {% for message in messages %}
				   {% if message.tags == 'success'%}
				   <div style="width: 82%; margin-left: 9%; text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Successful! </strong> {{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				   {%endif%}
				   {% if message.tags == 'error'%}
				   <div style="width: 82%; margin-left: 9%; text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
					<strong></strong>{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				   {%endif%}
		   {% endfor%}
		{% endif%}
	
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
								{% for cart_item in cart.items.all %}
						      <tr class="text-center">
						        <td class="product-remove">
									<a href="{% url 'remove-from-cart' cart_item.product.id %}">
										<span class="ion-ios-close"></span>
									</a>
								</td>
						        
						        <td class="image-prod">
									<div class="img" style="background-image:url({{cart_item.product.image.url}});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{cart_item.product.name}}</h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>
						        
						        <td class="price">${{cart_item.product.price}}</td>
						        
						        <td style="width: 30%;" class="quantity">
						        	<div style="margin-left: 80px;" class="input-group col-md-6 d-flex mb-3">
										<span class="input-group-btn mr-2">
										   <a href="{% url 'remove' cart_item.product.id %}" type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
										  <i class="ion-ios-remove"></i>
										   </a>
										   </span>
										<input type="text" id="quantity" name="quantity" class="form-control input-number" value="{{cart_item.quantity}}" min="1" max="100">
										<span class="input-group-btn ml-2">
										   <a href="{% url 'add-to-cart' cart_item.product.id %}" type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
											<i class="ion-ios-add"></i>
										   </a>
										</span>
									 </div>
							  </td>
							  
						        <td class="total">${{cart_item.get_total_price}}</td>
							  </tr><!-- END TR-->
							  {% empty%}
							  <tr>
								<td colspan="6">
									<h3>Your cart is empty</h3>
							  </td>
							  </tr>
							  <tr>
								  <td colspan="6">
									 <a href="/shop" class="btn btn-primary py-3 px-4">
										 <span><i class="fa fa-arrow-left"></i></span>
										 Keep Shopping
									 </a>
								  </td>
							  </tr>
							  {% endfor %}
							  <!--
							  	This part is not working yet the ain is to show keep shopping button even when we have items in cart  -->
								  {% if cart_item >= 1 %}
								  <tr>
									<td colspan="6">
									  <a href="/shop" class="btn btn-primary py-3 px-4">
										  <span><i class="fa fa-arrow-left"></i></span>
										  Keep Shopping
									  </a>
									</td>
								</tr>
								<!--end if here -->
								  {%endif%}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-5 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Coupon Code</h3>
    					<p>Enter your coupon code if you have one</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Coupon code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4" style="margin-top: 45px;">Apply Coupon</a></p>
    			</div>
    			<!-- <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Estimate shipping and tax</h3>
    					<p>Enter your destination to get a shipping estimate</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Country</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">State/Province</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Zip/Postal Code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
    			</div> -->
    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
							{% if cart.get_line_total%}
							<span>${{cart.get_line_total}}</span>
							{% endif%}
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>${{cart.get_line_total}}</span>
    					</p>
    				</div>
    				{% if cart.get_line_total == 0 %}
    				<p><!-- <a disabled type="button" href="#" class="btn btn-primary py-3 px-4">Your car is empty, add items to proceed</a> --></p>
    				{% else %}
    				<p><a href="{% url 'checkout'%}" 
    					class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    				{% endif %}
    				
    			</div>
    		</div>
			</div>
		</section>
{% endblock contents%}