{% extends 'base.html'%}
  {% block title%}
    <title>smart genge | register</title>
	{% endblock title%}
	
  {% load static%}

  {% block contents%}

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
				<form class="billing-form" method="POST">
          {% csrf_token %}

          {% for field in form %}
            {% if field.errors %}
              <div style="width: 82%; margin-left: 9%; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{ field.errors|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
        {% endfor %}
				 <h3 class="mb-4 billing-heading">Register</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">User Name</label>
                      <!-- <input type="text" class="form-control" placeholder=""> -->
                      {{form.username}}
	                </div>
	              </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">Email</label>
                      <!-- <input type="text" class="form-control" placeholder=""> -->
                      {{form.email}}
                  </div>
                </div>
                <div class="w-100"></div>
                </div>
                <div class="row align-items-end">
                   <div class="col-md-6">
                       <div class="form-group">
                       <label for="firstname">Password</label>
                      <!-- <input type="text" class="form-control" placeholder=""> -->
                        {{form.password1}}
                       </div>
                </div>
                <div class="col-md-6">
                       <div class="form-group">
                       <label for="firstname">Confirm Password</label>
                      <!-- <input type="text" class="form-control" placeholder=""> -->
                        {{form.password2}}
                       </div>
                </div>
                </div>
                <br>
                    <button type="submit" class="btn btn-primary py-3 px-4 " style=" width: 100%;" >Register</button>
	            </form><!-- END -->
              <div class="row mt-5 ml-5" >
                 <div class="col-md-6">
                      <p>Forgot password? <a href="{% url 'password_reset' %}">click here</a></p>
                  </div>
                  <div class="col-md-6">
                      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                  </div>
              </div>
			</div>
        </div>
    </div>
</section> <!-- .section -->

 {% endblock contents %}